.deletebtn:hover{
    background-color: white;
    color: black;
}


.deletebtn {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cancelbtn {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cancelbtn:hover{
    background-color: white;
    color: black;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto 30% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}