{% extends "base.html" %}
{% block title %}Documentation{% endblock %}
{% block styles %}<link rel="stylesheet" href="/static/styles/documentation.css">{% endblock %}
{% block content %}

<div class="menu">
    {% for route in routes %}
    <a href="/routes/{{route[1]}}/documentation">{{ route[0] }}</a>
    {% endfor %}
</div>

<div id="wrapper">
    <div class="grid-elem">
        <img src="/static/images/plus-solid.svg"
             onclick="document.getElementById('file').click()">
        <form method="POST" action="/routes/{{route_id}}/documentation/" enctype="multipart/form-data">
            <input id="file" type="file" name="file" onchange="form.submit()" accept="image/*">
        </form>
    </div>

    {% for image_path in images %}
    <img class="grid-elem" src="/static/images/{{ image_path }}">
    {% endfor %}
</div>

{% endblock %}
