{% extends "base.html" %}
{% block title %}Documentation{% endblock %}
{% block styles %}<link rel="stylesheet" href="/static/styles/documentation.css">{% endblock %}
{% block content %}

<script>
    function hideModal() {
        document.getElementById("modal").style.display = "none"
    }

    function showModal(imageSrc) {
        document.getElementById("modal").style.display = "block"
        document.getElementById("modal-img").setAttribute("src", imageSrc)
    }
</script>

<img class="share-icon" src="/static/images/share-option.svg">

<div class="header">
    <h1>Nazwa trasy</h1>
    <h5>Dokumentacja</h5>
</div>

<div class="menu">
    <span>Twoje trasy:</span>
    {% for route in routes %}
    <a href="/routes/{{route[1]}}/documentation">{{ route[0] }}</a>
    {% endfor %}
</div>

<div id="wrapper">
    {% for image_path in images %}
    <img class="grid-elem" src="/static/images/{{ image_path }}" onclick="showModal('/static/images/{{ image_path }}')">
    {% endfor %}

    <div class="grid-elem plus-holder" onclick="document.getElementById('file').click()">
        <img class="img-add" src="/static/images/plus-solid.svg">
        <form method="POST" action="/routes/{{route_id}}/documentation" enctype="multipart/form-data">
            <input id="file" type="file" name="file" onchange="form.submit()" accept="image/*">
        </form>
    </div>


</div>

<div id="modal" onclick="hideModal()">
    <img id="modal-img">
</div>

{% endblock %}
