{% block styles %}
    <link rel="stylesheet" href="/static/styles/menu.css">
    <link rel="stylesheet" href="/static/styles/routes_manager.css">
{% endblock %}

<script src="/static/js/routeManager.js"></script>

<div class="button-holder">
    <button class="btn btn-default btn-lg">
        <img id="delete-icon" src="/static/images/trash.svg" onclick="showModal('Czy chcesz usunąć trasę?', () => deleteRoute({{ tourist_id }}, {{ route_id }}))" title="Usuń trasę"/>
    </button>
    <button class="btn btn-default btn-lg">
        <img id="verification-icon" src="/static/images/share-option.svg" onclick="showModal('Czy chcesz przekazać trasę do weryfikacji?', verification)" title="Zweryfikuj trasę"/>
    </button>
</div>

<div class="menu">
    <span>Twoje trasy:</span>
    {% for route in routes %}
        <a href="/routes/{{ tourist_id }}/{{ route[0] }}">{{ route[1] }}</a>
    {% endfor %}
        <a href="/route" class="menu-plus-holder"><img class="menu-plus" src="/static/images/plus-solid-black.svg"></a>
</div>

<div class="plannerView">
    {% include "route.html" %}
</div>

{% if route_id %}
    <script src="/static/js/routeManagerWithRoute.js"></script>
    <script>
        document.getElementById('route-name').value = "{{ route_name }}"
        document.getElementById('save-icon').onclick = () => updateRoute({{ route_id }});
    </script>
{% endif %}
