{% extends "base.html" %}
{% block title %}Góronator{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/styles/browser.css">
    <link rel="stylesheet" href="/static/styles/route.css">
    <link rel="stylesheet" href="/static/styles/exit_modal.css">
{% endblock %}

{% block content %}

    <button class="btn btn-default btn-lg closeButtonLeft">
        <img id="toModal" src="/static/images/closeButton.svg"/>
    </button>
    <button class="btn btn-default btn-lg saveButtonRight">
        <img src="/static/images/saveButton.svg"/> {# TODO wrap in form #}
    </button>

    <div class="routeHeader">
        <h1 class="importantLabel"><input type="text" value="Nowa trasa..."></h1>
        <p class="normalLabel" id="route-info">0 pkt GOT | 0m <-> | 0m ^ | 0m v</p>
    </div>

    <div class="flexHolder">
        <div class="flexElement segmentList">
            <div id="route-segments" class="bigListItems"></div>
        </div>
        <div class="flexElement mediumList">
            <ul id="segment-info-list"></ul>
        </div>
        <div id="map" class="flexElement"></div>
    </div>

    <div id="addSegmentModal" class="modal">

        <div class="addModal-content">
            <span class="close"></span>

            <div class="modal-main-section">
                <div class="segmentList">
                    <h5 class="borderredLabel">Skorelowane punkty</h5>
                    <div id="correlated-list" class="listItems">
                        <a class="list-group-item list-group-item-action correlledSegments">Pobieranie danych...</a>
                    </div>
                </div>
                <div id="secondaryMap"></div>
            </div>
            <div class="modal-buttons">
                <button class="checkbtn" onclick="location.href='/';">
                    <img src="/static/images/checkmark.svg">
                </button>
                <button class="checkbtn" onclick="hideModal()">
                    Go back
                </button>
            </div>
        </div>
    </div>

    {% include "exit_modal.html" %}

    <script src="/static/js/openModal.js"></script>
    <script src="/static/js/route.js"></script>
    <script src="/static/js/maps.js"></script>
    <script>
        for (let segment of {{ segments | tojson}})
            addSegment(segment)

        updateRouteInfo()
        addSegmentsToList()

        initMap({{ map_init[0] }}, {{ map_init[1] }}, 'map')

        for (let point of {{ points | tojson }}) {
            addMarker(point['x'], point['y'], point['name']);
        }
    </script>

{% endblock %}